@import "../../constants/scss/colors.scss";

.sb-summary-container {
    background: $azure;
    color: white;
    position: relative;
    left: 35%;
    text-align: center;
    width: 30%;
    padding: 0.75rem 1rem;
    border-radius: 10px;

    .sb-summary-block {
        margin: 1rem;
    }
}
